body {
  font-family: "Montserrat, sans-serif";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#content {
  max-width: 500px;
}

#content-inner {
  background-color:#c0c0c0;
  padding: 1em;
  border-radius: 10px;
}

#title {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-size: normal;
  font-size: 1em;
}

#sub-title {
  font-size: 1.5em;
}

#sub-title span {
  border-radius: 5px solid #50fc99;
}
