.overview {
  background-color: #3d89e5;
  border-radius: 0.5em;
  padding: 1em;
  text-align: center;
  margin-bottom: 1em;
}

.address {
  font-family: "Courier New", "Courier", "monospace";
}

.balance {
  font-size: 2em;
  font-weight: bold;
}
